<article class="NodeSearchResult" style="margin:2rem;">

  <a href="{{ url }}" title=""{{ label }}>

    <h2 class="NodeSearchResult-title">
      {{ label }}
    </h2>

    <div class="NodeSearchResult-theme">
      {{ themes }}
    </div>

      <div class="NodeSearchResult-chapo">
        {{ chapo }}
      </div>

    <div class="NodeSearchResult-search" >
      {{ excerpt }}
    </div>

  </a>
</article>


