{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 */
#}


{{ attach_library('cp22_saulnier_theme/video') }}

<article{{ attributes }} class="videoWrapper">
  {{ title_suffix.contextual_links }}

  <div class="videoWrapper-image-video">

    {% if content %}
      {{ content.thumbnail}}
    {% endif %}
  </div>

  <div class="videoWrapper-video">

    {% if content %}
      {{ content.field_media_oembed_video}}
    {% endif %}
  </div>


</article>
